/* Import fonts */
@import url('fonts.css');

/* ---   DEFAULTS   --- */
/* Reset and Normalize CSS */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.8em;
  -webkit-font-smoothing: antialiased;
  font-family: 'DM Mono', monospace;
  font-size: 1rem;
  background-color: #FCFCFA;
}

body.blog, body.post {
  background-image: url('../assets/paper.png');
  background-repeat: repeat;
  background-size: 600px;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Remove text-decoration from all anchor tags */
a {
  text-decoration: none;
  color: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Remove all default fieldset styles */
fieldset {
  min-width: 0;
  border: 0;
}

/* Correct the inability to style clickable types in iOS and Safari */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* Work around a Firefox bug where the transparent `button` background results in a loss of the default `button` focus styles */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

p {
  margin-bottom: 1.2rem;
}

/* Code blocks and monospace text */
code, pre, .mono {
  font-family: 'DM Mono', monospace;
  font-size: 0.9em;
}

/* Target all headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 3rem;
  margin-bottom: 0.75rem;
  text-transform: lowercase;
}

/* Individual heading sizes */
h1 { font-size: 2.75rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.75rem; }
h5 { font-size: 1.5rem; }
h6 { font-size: 1.25rem; letter-spacing: 0.075em;}


/* ---   CUSTOM   --- */
.container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0 8rem 0;
}

/* Make the header span full width */
header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 1 / -1;
  min-height: 230px;
}

/* Make the main content span full width */
nav, main {
  grid-column: 1 / -1;
}

/* Header */
header .page__header {
  grid-column: span 3;
}

header .logo {
  grid-column: span 1;
  justify-self: end;
  height: 100%;
  display: flex;
  align-items: top;
}

header .logo svg {
  height: 65%;
  width: auto;
}

.page__header * {
  margin: 0;
}

.homepage__intro {
  color: rgba(0, 0, 0, 0.75);
}

/* Navigation */
nav ul {
  display: flex;
  justify-content: space-between;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

nav ul li a {
  position: relative;
  transition: all .25s ease;
}

nav ul li a:not(.active) {
  opacity: 0.32;
}

nav ul li a.active::after {
  content: '/';
  display: inline-block;
  position: absolute;
}

nav ul li a.active::after {
  right: -1.25rem;
}

nav ul li a:not(.active):hover::after {
  content: '/';
  display: inline-block;
  position: absolute;
  right: -1.25rem;
  opacity: 0;
  transform: translateX(-20px);
  animation: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Footer*/
/* Make the footer span full width */
footer {
  grid-column: 1 / -1;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

footer h6 {
  opacity: 0.25;
}

footer .sign {
  opacity: 0.15;
  width: 5.3rem;
  height: auto;
  margin: 0 0 0 0.4rem;
}

footer .sign svg {
  width: 100%;
  height: auto;
}

body:not(.blog) main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  justify-items: start;
}

body:not(.blog) main * {
  grid-column: 2 / -2;
}


/* ---   POSTS   --- */
.blog .post__list {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.blog .post__preview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  justify-items: start;
}

.blog .post__details {
  grid-column: span 1;
}

.blog .post__details::before {
  content: '';
  display: block;
  height: 1px;
  width: 75%;
  border-bottom: 2px dotted #00000024;
  margin-bottom: 1rem;
}

.blog .post__details .post__title {
  margin: 0;
  font-size: 2rem;
}

.blog .post__details .post__date {
  margin-top: 1.5rem;
  text-transform: uppercase;
}

.blog .post__content {
  grid-column: span 2;
}

.blog .post__metainfo {
  grid-column: span 1;
  justify-self: end;
  align-self: start;
}

.blog .post__metainfo .categories {
  text-transform: uppercase;
}


/* ---   CONTENT   --- */
.post img {
  border-radius: 0.4rem;
}

.wide__image {
  width: 150%;
  margin-left: -25%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

.wide__image img {
  grid-column: 1 / -1;
  width: 100%;
  height: auto;
}
