:root {
    --base-size: 1.6vh;
    --scale: 1;

    /* TYPE */
    --system-font: ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    --type: normal normal 1rem/1.2rem var(--system-font);
    --brand-ls: -0.015rem;

    /* COLORS */
    --white: #fff;
    --slate: #F7F8FA;
    --slate-gray: #EFF0F2;

    --gray: #bcc1cf;
    --gray-dark: #9298a5;

    --primary-h: 255;
    --primary-s: 100%;
    --primary-l: 50%;

    --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
    --primary-alpha: hsla(var(--primary-h), var(--primary-s), var(--primary-l), 0.65);
    --primary-alpha-h: hsla(var(--primary-h), var(--primary-s), var(--primary-l), 0.09);

    --primary-dark: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) / 1.6));
    --primary-dark-alpha: hsla(var(--primary-h), var(--primary-s), calc(var(--primary-l) / 1.6), 0.5);

    --primary-deep: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) / 3.2));
    --primary-deep-alpha: hsla(var(--primary-h), var(--primary-s), calc(var(--primary-l) / 3.2), 0.5);

    --primary-black: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) / 5));
    --primary-black-alpha: hsla(var(--primary-h), var(--primary-s), calc(var(--primary-l) / 5), 0.5);
    --primary-black-alpha-h: hsla(var(--primary-h), var(--primary-s), calc(var(--primary-l) / 5), 0.25);

    --fg-primary: var(--primary-black);
    --fg-secondary: var(--primary-black-alpha);

    --contrastThreshold: 60%;

    --sexy-bounce: cubic-bezier(0.18, 0.89, 0.31, 1.57);

    /* NUMS */
    --num-full: 999;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
  font-size: calc(var(--base-size) * var(--scale));
}

::selection {
    background-color: var(--primary);
    color: var(--white);
}

::-moz-selection {
    background-color: var(--primary);
    color: var(--white);
}

.no-sel {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    background-color: var(--white);
    font: var(--type);
    letter-spacing: var(--brand-ls);
    color: var(--fg-primary);
}

a:not(.btn) {
    text-decoration: none;
    color: var(--primary);
    padding: 0.0625rem 0.25rem;
    border-radius: 0.25rem;
}

a:not(.btn):not([class]):hover {
    background-color: var(--primary-alpha-h);
}

img {
  width: 100%;
  height: auto;
}

.btn {
    display: inline-block;
    font-weight: 500;
    background-color: var(--primary);
    --switch: calc((var(--primary-l) - var(--contrastThreshold)) * -100);
    color: hsl(0, 0%, var(--switch));
    padding: 0.5rem 1.25rem;
    border-radius: 62.5rem;
    text-decoration: none;
    transform: translateY(0);
    transition: all 0.28s var(--sexy-bounce);
}

.btn:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.75rem 1.5rem -0.5rem var(--primary-dark-alpha);
}

.btn:active {
    background-color: var(--primary-dark);
    transform: translateY(0);
    box-shadow: 0 0.25rem 0.5rem -0.125rem var(--primary-deep-alpha);
}

.aqua {
  background: repeating-linear-gradient(rgba(0, 0, 162, 0.475), rgba(0, 0, 168, 0.408) 1px, rgba(0, 0, 183, 0.41) 2px, rgba(255, 255, 255, 0.01) 3.5px), linear-gradient(rgba(0, 0, 250, 0.625), rgba(0, 0, 200, 0.625), rgba(0, 0, 250, 0.625));
  box-shadow: 
  0 0.8rem 1.4rem -0.2rem rgba(0, 0, 250, 0.38), 
  0 0.05rem 0.125rem rgba(0, 0, 200, 0.5), 
  inset 0 0.23rem 0.46rem rgba(0, 0, 200, 0.8), 
  inset 0 0.35rem 0.46rem 0.23rem rgba(0, 0, 200, 0.75);
}

.aqua:hover {
  box-shadow: 
  0 0.925rem 1.67rem -0.231rem rgba(0, 0, 250, 0.48),
  0 0.1875rem 0.556rem -0.1875rem rgba(0, 0, 200, 0.5),
  inset 0 0.231rem 0.4625rem rgba(0, 0, 200, 0.8),
  inset 0 0.35rem 0.4625rem 0.231rem rgba(0, 0, 200, 0.75);
}

.aqua:active {
    background: repeating-linear-gradient(rgba(0, 0, 162, 0.475), rgba(0, 0, 168, 0.408) 1px, rgba(0, 0, 183, 0.41) 2px, rgba(255, 255, 255, 0.01) 3.5px), linear-gradient(rgba(0, 0, 250, 0.625), rgba(0, 0, 200, 0.625), rgba(0, 0, 250, 0.625));
    box-shadow: 
  0 0.556rem 0.925rem -0.1375rem rgba(0, 0, 154, 0.6),
  0 0.09375rem 0.08125rem rgba(0, 0, 200, 0.6),
  inset 0 0.231rem 0.4625rem rgba(0, 0, 200, 0.8),
  inset 0 0.35rem 0.4625rem 0.231rem rgba(0, 0, 200, 0.75);
}

.slate {
  background: repeating-linear-gradient(rgba(0, 0, 0, 0.45) 2px, rgba(0, 0, 0, 0.6) 6px),
              linear-gradient(rgba(50, 50, 50, 0.625), rgba(255, 255, 255, 0.625));
  box-shadow: 
  0 0.744rem 1.294rem -0.1875rem rgba(60, 60, 60, 0.45),
  0 0.04375rem 0.11875rem rgba(60, 60, 60, 0.5),
  inset 0 0.231rem 0.4625rem rgba(60, 60, 60, 0.8),
  inset 0 0.35rem 0.4625rem 0.231rem rgba(60, 60, 60, 0.75);
}

.slate:hover {
  box-shadow: 
  0 0.744rem 1.294rem -0.16875rem rgba(60, 60, 60, 0.55),
  0 0.04375rem 0.11875rem rgba(60, 60, 60, 0.5),
  inset 0 0.231rem 0.4625rem rgba(60, 60, 60, 0.8),
  inset 0 0.35rem 0.4625rem 0.231rem rgba(60, 60, 60, 0.75);

}

.slate:active {
  background: repeating-linear-gradient(rgba(0, 0, 0, 0.4) 2px, rgba(0, 0, 0, 0.6) 6px),
              linear-gradient(rgba(50, 50, 50, 0.625), rgba(255, 255, 255, 0.625));
  box-shadow: 
  0 0.556rem 0.925rem -0.1375rem rgba(60, 60, 60, 0.6),
  0 0.09375rem 0.08125rem rgba(60, 60, 60, 0.6),
  inset 0 0.231rem 0.4625rem rgba(60, 60, 60, 0.8),
  inset 0 0.35rem 0.4625rem 0.231rem rgba(60, 60, 60, 0.75);
}


@property --shinetop-1 {
  syntax: '<color>';
  initial-value: rgba(255, 255, 255, 0.8);
  inherits: false;
}

@property --shinetop-2 {
  syntax: '<color>';
  initial-value: rgba(255, 255, 255, 0.2);
  inherits: false;
}

.aqua:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 33%;
  background: linear-gradient(var(--shinetop-1), var(--shinetop-2));
  width: calc(100% - 1.15625rem);
  border-radius: 1.85rem 1.85rem 0.4625rem 0.4625rem;
  top: 5%;
  filter: blur(1px);
  z-index: 2;
  transition: --shinetop-1 .2s ease, --shinetop-2 .2s ease;
}

@property --shinebtm-1 {
  syntax: '<color>';
  initial-value: rgba(120, 120, 255, 0.2);
  inherits: false;
}

@property --shinebtm-2 {
  syntax: '<color>';
  initial-value: rgba(255, 255, 255, 0.6);
  inherits: false;
}

.aqua:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 33%;
  background: linear-gradient(var(--shinebtm-1), var(--shinebtm-2));
  width: calc(100% - 1.15625rem);
  border-radius: 0.69375rem;
  bottom: 10%;
  filter: blur(6px);
  transition: --shinebtm-1 .2s ease, --shinebtm-2 .2s ease;
}

.aqua:hover:before {
    --shinetop-1: rgba(255, 255, 255, 0.9);
    --shinetop-2: rgba(255, 255, 255, 0.4);
}

.aqua:hover:after {
    --shinebtm-1: rgba(255, 255, 255, 0.2);
    --shinebtm-2: rgba(255, 255, 255, 0.8);
}

.aqua:active:before {
    --shinetop-1: rgba(255, 255, 255, 0.5);
    --shinetop-2: rgba(255, 255, 255, 0.2);
}

.aqua:active:after {
    --shinebtm-1: rgba(255, 255, 255, 0.1);
    --shinebtm-2: rgba(255, 255, 255, 0.5);
}

.aqua span {
  position: relative;
  top: -1px;
  z-index: 1;
  text-shadow: 0 0.3rem 0.2rem rgba(30, 77, 161, 0.8);
  transition: all .26s var(--sexy-bounce);
}

.slate span {
  text-shadow: 0 0.3rem 0.2rem rgba(50, 50, 50, 0.4);
}

.aqua:hover span {
    top: -0.1875rem;
}

.aqua:active span {
    top: -0.0625rem;
}

.container {
    padding: 0.69375rem;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 0.69375rem;
}

.drawer {
  display: grid;
  grid-gap: 0.69375rem;
}

.d-6 {
  grid-template-columns: repeat(6, minmax(auto, 1fr));
}

.header__logo svg {
  width: calc(2rem * var(--scale));
  height: auto;
}

nav li {
  list-style: none;
  margin-bottom: 0.4rem;
}

footer {
  opacity: 1;
}

footer .sign__from {
  font-size: .7rem;
}

footer .sign {
  max-width: 5rem;
  margin-top: -0.4rem;
}

footer .sign svg * {
  stroke-width: 8;
  stroke: var(--primary);
}

.caption {
  display: flex;
  flex-direction: row;
  flex: 1 1 200px;
  gap: 0.69375rem;
  font-size: .9rem;
  line-height: 1.15rem;
}

.caption__info {
  display: flex;
  flex-direction: column;
  gap: 0.69375rem;
  margin-top: 2.2rem;
}

.caption__btns {
  display: flex;
  flex-direction: row;
  gap: 0.69375rem;
}

.caption__btns .caption__btn__subtext {
  margin: calc(0.69375rem * 0.2) 0 0 calc(0.69375rem * 1.7);
  font-size: 0.75rem;
  font-weight: 500;
  opacity: .4;
}

.reel__wrapper {
  max-width: 44rem;
}

.reel {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.reel iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: .5rem;
}

@media (max-height: 1024px) {
    :root {
      --base-size: 16px;
    }

    .container {
      padding: 12px;
    }

    a:not(.btn) {
        padding: 1px 3px;
        border-radius: 3px;
    }

    .btn {
      letter-spacing: -0.443px;
      padding: 8px 16px;
      border-radius: 1080px;
    }

    .btn:hover {
        transform: translateY(-4px);
        box-shadow: 0 13px 26px -9px var(--primary-dark-alpha);
    }

    .btn:active {
        transform: translateY(0);
        box-shadow: 0 4px 10px -2px var(--primary-deep-alpha);
    }

    .aqua {
      box-shadow: 0 14px 25px -4px rgba(0, 0, 250, 0.38), 
                  0 1px 3px rgba(0, 0, 200, 0.5), 
                  inset 0 4px 8px rgba(0, 0, 200, 0.8), 
                  inset 0 6px 8px 4px rgba(0, 0, 200, 0.75);
    }

    .aqua:hover {
      box-shadow: 0 16px 29px -4px rgba(0, 0, 250, 0.48), 
                  0 4px 10px -4px rgba(0, 0, 200, 0.5), 
                  inset 0 4px 8px rgba(0, 0, 200, 0.8), 
                  inset 0 6px 8px 4px rgba(0, 0, 200, 0.75);
    }

    .aqua:active {
      box-shadow: 0 10px 16px -3px rgba(0, 0, 154, 0.6), 
                  0 2px 2px rgba(0, 0, 200, 0.6), 
                  inset 0 4px 8px rgba(0, 0, 200, 0.8), 
                  inset 0 6px 8px 4px rgba(0, 0, 200, 0.75);
    }

    .slate {
      box-shadow: 0 13px 23px -4px rgba(60, 60, 60, 0.45),
                  0 1px 2px rgba(60, 60, 60, 0.5),
                  inset 0 4px 8px rgba(60, 60, 60, 0.8),
                  inset 0 6px 8px 4px rgba(60, 60, 60, 0.75);
    }

    .slate:hover {
      box-shadow: 0 13px 23px -3px rgba(60, 60, 60, 0.55),
                  0 1px 2px rgba(60, 60, 60, 0.5),
                  inset 0 4px 8px rgba(60, 60, 60, 0.8),
                  inset 0 6px 8px 4px rgba(60, 60, 60, 0.75);
    }

    .slate:active {
      box-shadow: 0 10px 16px -3px rgba(60, 60, 60, 0.6),
                  0 2px 2px rgba(60, 60, 60, 0.6),
                  inset 0 4px 8px rgba(60, 60, 60, 0.8),
                  inset 0 6px 8px 4px rgba(60, 60, 60, 0.75);
    }

    .aqua:before {
      width: calc(100% - 20px);
      border-radius: 32px 32px 8px 8px;
    }

    .aqua:after {
      width: calc(100% - 20px);
      border-radius: 12px;
    }

    .aqua span {
      top: -1px;
      text-shadow: 0 5px 3.5px rgba(30, 77, 161, 0.8);
    }

    .slate span {
      text-shadow: 0 5px 3.5px rgba(50, 50, 50, 0.4);
    }

    .aqua:hover span {
      top: -3px;
    }

    .aqua:active span {
      top: -1px;
    }


}

@media (max-width: 1200px) {
    :root {
        --scale: .88;
    }
}

@media (max-width: 900px) {

}

@media (max-width: 600px) {
    :root {
        --scale: .8;
    }
    .caption {
      flex-direction: column;
    }
    .caption__info {
      margin: 0;
    }
    .caption__info > div > div {
      display: inline;
    }
}